<div class="container mx-auto">

  <div class="pb-10 text-center" >
    <p class="text-gray-600">
      By Manuela Gomes
    </p>
    <div class="text-blue-600 flex justify-center" >
      <img class="p-1 "
      src="assets/github-circle-logo-16637.png">
      <a  class="p-1" href="https://github.com/manudeveloper82" target="_blank">Github</a>
      <img class="p-1 pl-4"
      src="assets/blue-linkedin-logo-15916.png">
      <a class="p-1" href="https://www.linkedin.com/in/devmanugomes/" target="_blank">Linkedin</a>
    </div>
    <div class="text-blue-600 flex justify-center">

    </div>
  </div>
</div>
