<div class=" w-[650px] bg-white rounded-lg shadow p-9 mb-8" >

  <div class="flex justify-center w-full" >

    <div class="flex-shrink-0"></div>

    <div class="cursor-pointer
      font-bold
      w-12 h-12
      bg-gray-300
      flex
      mt-4
      items-center
      justify-center
      rounded-full
      ">
      M
    </div>

    <div class="flex-2">
      <textarea [(ngModel)]="tweetMessage"
       (input)="changeTweet()"
       [maxlength]="tweetMaxLength" class="mb-4 ml-3
       bg-gray-300 w-[520px]
       focus:outline-none
       focus:shadow-outline
       border-tranparente
       rounded-lg
       py-3
       px-5
       flex
       appearance-none
       font-ligth
       resize-none
       placeholder-gray-500"
       rows="2"
       placeholder="What's happening?"
      ></textarea>

      <div class="w-auto rounded-lg" ></div>

      <div class="flex justify-end items-baseline" >

        <div class="
         font-thin w-55 mr-2
         text-gray-500" >
         <p>{{tweetRemain}}</p>
        </div>

        <div class="ml-">
          <button
           (click)="sendTweet()"
            type="button"
            class="w-32
            focus:outline-none
            border shadow
            text-center
            border-tranparente
            py-2 px-5
            rounded-lg
            text-white
            bg-blue-500
            hover:bg-blue-600
            font-medium">Tweet
          </button>
        </div>

      </div>
    </div>

  </div>

</div>
